.place-detail-container {
  width: 100%;
  background-color: white;
  border: 1px solid #E9E9E9;
  border-radius: 12px;
  box-sizing: border-box;
  margin-bottom: 8px;
  overflow: hidden;
}

.place-detail-container--active {
  border: 2px solid #FF5E29;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.place-detail-container:hover {
  cursor: pointer;
}

.place-detail-img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  /* border-radius: 8px; */
}

.place-detail-info {
  padding: 12px 16px;
}

.place-detail-name {
  margin: 0 0 8px 0;
  font-size: 16px;
  font-weight: 700;
}

.place-detail-category {
  font-size: 12px;
  color: #777777;
  margin-bottom: 2px;
}

.place-detail-rating-review {
  font-size: 13px;
  margin-bottom: 12px;
  color: #515151;
}

.place-detail-rating {
  margin-right: 8px;
}

.place-detail-bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.place-detail-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 13px;
}

.place-detail-icon-img {
  padding-top: 2px;
  width: 20px;
}

.place-detail-opening-hours {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.place-detail-icon-img-phone {
  padding-top: 2px;
  padding-left: 3px;
  width: 16px;
}

.detail-bookmark-make-event-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  color: #515151;
}

.detail-bookmark-make-event-container button {
  padding: 0;
  background-color: #ffffff00;
}

.place-detail-close-img {
  width: 15px;
  transform: rotate(180deg);
  margin-top: 5px;
  margin-left: -1px;
}