.place-card-closed {
  height: 120px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #E9E9E9;
  border-radius: 16px;
  /* padding: 12px 14px; */
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* 선택된 경우 */
.place-card-closed--active {
  border: 1.5px solid #FF5E29;
  background-color: #FFFBFA;
}

.place-card-closed:hover {
  cursor: pointer;
}

.place-card-img {
  width: 32%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: #f0f0f0;
  flex-shrink: 0;
  margin-right: 14px;
}

.placeholder {
  background-color: #f0f0f0;
}

.place-card-info {
  height: 90px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 14px 12px 0;
}

.place-card-upper-container {
  flex: 1;
}

.place-card-name {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.place-card-category {
  font-size: 12px;

}

.place-card-bottom-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.place-card-rating-comment-container {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  color: #515151;
}

.bookmark-make-event-container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #515151;
}

.bookmark-make-event-container button {
  padding: 0;
  background-color: #ffffff00;
}

.bookmark-icon-img {
  width: 14px;
}

.make-event-btn {
  margin-top: 3px;
}

.plus-btn-img {
  width: 17px;
}

.place-detail-open-img {
  width: 15px;
}