.title-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.g-event-modal-info .title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  flex: 1;
}

.title[readonly] {
  border: none;
  outline: none;
  pointer-events: none;
  /* 🔥 클릭해도 focus 안 생김 */
  background: transparent;
}

.edit-title-btn {
  padding: 2px 6px;
  border-radius: 8px;
  background: none;
}

.edit-title-btn:hover {
  background-color: lightgoldenrodyellow;

}